body {
	background-size: cover;
	background-image: url(image/landscape.png);
	background-position: center;
	display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
	
	}

.a{
	font-weight: bold;
	font-style: italic;
}
/* ------- PANNEAU PERSONNAGES --------*/
.interfacePerso{
	margin: 50px;
	display: flex;

	border-radius: 10px;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content:space-around;
	
}
	
perso{
	margin: 5px;
	background-size: cover;
	background-image: url(image/Background_combat.png);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	border: 4px ridge #000030;
	border-radius: 5px;
	width: auto;
	height: auto;
	
}

.info_hero{
	margin: 5px;
	display: flex;
	flex-direction:column;
	justify-content: space-between;
	align-content:space-around;
}

.heros{
	font-weight: bold;
	background-color:#89bbd8;
	margin: 5px;
	text-align:center;
	border: 1px solid;
	border-radius: 5px;
	width: 100px;
	
}
.stat{
	background-color:#CCDAE2;
	margin: 5px;
	display: flex;
	flex-direction:row-reverse;
	align-items:center;
	justify-content: space-around;
	border: 1px solid;
	border-radius: 5px;
	width: auto;
	height: auto;
}
.type_stat{
	display: flex;
	flex-direction:column;
}
.valeur_stat{
	display: flex;
	flex-direction:column;
}
.action{
	margin: 5px;
	display: flex;
	flex-direction:column;
	justify-content: space-around;
	
}
.bouton{
	margin: 5px;
	border: 2px ridge #000030;
	width: auto;
	height: auto;
	cursor:pointer;
}

/* -------- PANNEAU MONSTRE --------*/

.monstre{
	display:flex;
	justify-content:space-around;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content:space-around;
	
}
#stat_monstre{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color:"";
	margin: 5px;
	color: #9ca1b600;
	width: 250px;
	height:300px;
}
#stat_monstre:hover{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color:#9ca1b6;
	margin: 5px;
	border: 5px solid;
	border-radius: 5px;
	color: #000000;
	width: auto;
	height:auto;
}
.pv_monstre{
	display: flex;
	flex-direction:row-reverse;
	align-items:center;
	justify-content: space-around;
	width: 80%;
	height: auto;	
}
.nom{
	margin: 5px;
	font-size: 20px;
	font-weight: bold;
}
.monstre_1{
	margin: 5px;

	display:flex;
	flex-direction: column;
	align-items:center;
	
	background-image: url(image/enemies/enemies_armored_sheepman.png);
	background-size: cover;
	background-position: center;
	width: 250px;
	height:300px;
}
.monstre_2{
	margin: 5px;

	display:flex;
	flex-direction: column;
	align-items:center;
	
	background-image: url(image/enemies/enemies_blue_sheepman.png);
	background-size: cover;
	background-position: center;
	width: 250px;
	height:300px;
}
.monstre_3{
	margin: 5px;
	
	display:flex;
	flex-direction: column;
	align-items:center;

	background-image: url(image/enemies/enemies_elder_sheepman.png);
	background-size: cover;
	background-position: center;
	width: 250px;
	height:300px;
}

/* -------- Boite dialogue --------*/
#boite_dialogue{
	display:flex;
	justify-content: center;
	background-color:#CCDAE2;
	margin: 5px;
	text-align:center;
	border: 1px solid;
	border-radius: 5px;
	width: 100px;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content:space-around;
	width: 90%;
	height:20%;
}

/* -------- teste --------*/


.nom .show{  
	visibility: hidden;
	width: 160px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 8px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -80px;
}